# TRUSTMESH - MST TESTNET ENVIRONMENT CONFIGURATION
MST_TESTNET_RPC=https://testnetrpc.mstblockchain.com
MST_TESTNET_CHAIN_ID=4545
MST_SCAN_EXPLORER=https://testnet.mstscan.com

# Registered BridgeKey Provided
BRIDGE_KEY=0x46E736Fe8405B7e336983cDEB1b29D65a4558c09

# Private Key for Deployer Account on MST Testnet (Must hold tMSTC for gas)
PRIVATE_KEY=your_private_key_here
